@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 210 17% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 17% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 17% 23%;
    --primary: 211 100% 35%;
    --primary-foreground: 0 0% 98%;
    --secondary: 211 100% 95%;
    --secondary-foreground: 211 100% 35%;
    --muted: 210 17% 90%;
    --muted-foreground: 210 10% 40%;
    --accent: 145 63% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 355 79% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 85%;
    --input: 210 17% 85%;
    --ring: 211 100% 35%;
    --chart-1: 211 100% 35%;
    --chart-2: 145 63% 42%;
    --chart-3: 211 100% 65%;
    --chart-4: 145 63% 72%;
    --chart-5: 211 100% 85%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 17% 15%;
    --foreground: 210 17% 98%;
    --card: 210 17% 15%;
    --card-foreground: 210 17% 98%;
    --popover: 210 17% 15%;
    --popover-foreground: 210 17% 98%;
    --primary: 211 100% 75%;
    --primary-foreground: 211 100% 20%;
    --secondary: 211 100% 25%;
    --secondary-foreground: 210 17% 98%;
    --muted: 211 100% 25%;
    --muted-foreground: 210 10% 60%;
    --accent: 145 63% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 355 79% 63%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 100% 30%;
    --input: 211 100% 30%;
    --ring: 211 100% 75%;
    --chart-1: 211 100% 75%;
    --chart-2: 145 63% 52%;
    --chart-3: 211 100% 65%;
    --chart-4: 145 63% 72%;
    --chart-5: 211 100% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
